@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you want to order some snacks, this is the place to be!!!</p>
</div>
    <button class="btn">
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="AddProductToOrder">Order Here</a>
    </button>
</body>

